
<form id="_form_aiochk" action="https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5" method="post">



  <input type="hidden" name="MerchantTradeNo" id="MerchantTradeNo" value="16813743495781872007"/>



  <input type="hidden" name="MerchantTradeDate" id="MerchantTradeDate" value="2023/04/13 16:25:49"/>



  <input type="hidden" name="TotalAmount" id="TotalAmount" value="132"/>



  <input type="hidden" name="TradeDesc" id="TradeDesc" value="XDDD"/>



  <input type="hidden" name="ItemName" id="ItemName" value="donate"/>


  <input type="hidden" name="ReturnURL" id="ReturnURL"
         value="https://www.wuchieh.tk/api/test"/>












  <input type="hidden" name="ChoosePayment" id="ChoosePayment" value="ALL"/>


  <input type="hidden" name="OrderResultURL" id="OrderResultURL"
         value="https://www.wuchieh.tk/api/test2"/>




  <input type="hidden" name="MerchantID" id="MerchantID" value="3002607"/>



  <input type="hidden" name="InvoiceMark" id="InvoiceMark" value="N"/>










  <input type="hidden" name="IgnorePayment" id="IgnorePayment" value="BARCODE"/>


  <input type="hidden" name="EncryptType" id="EncryptType" value="1"/>


  <input type="hidden" name="PaymentType" id="PaymentType" value="aio"/>



  <input type="hidden" name="CheckMacValue" id="CheckMacValue"
         value="906730847D70B21313BABB1FAAA36E13FEC00F5C82F2CAD0F84B6E7A3F9183B9"/>

  <script type="text/javascript">document.getElementById("_form_aiochk").submit();</script>
</form>



